<template>
    <div>
        <section class="login-sec">
            <div class="container">
                <div class="login-form pb-5">
                    <h2 class="text-center">Member Login</h2>
                    <form action="/examples/actions/confirmation.php" method="post" @submit.prevent="signin">
                        <div class="avatar" style="background-image:url(https://images.pexels.com/photos/804475/pexels-photo-804475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                        </div>           
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" name="username" placeholder="Username" required="required" v-model="user.username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required" v-model="user.password">
                        </div>        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Sign in</button>
                        </div>
                        <p class="hint-text">Don't have an account? <a href="#">Sign up here</a></p>
                    </form>
                    <div class="form-footer"><a href="#">Forgot Your Password?</a></div>
                </div>    
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name:'Login',
		data(){
			return {
				user:{
					"username":'',
					"password":'',
				}
			}
		},
		methods:{
			signin(){
				const api = `${process.env.VUE_APP_API}/admin/signin`;
				const vm = this;
				this.$http.post(api,vm.user).then((response) => {
					console.log(response.data);
					if(response.data.success){
						const token = response.data.token;
						const expired = response.data.expired;
						console.log(token,expired);
						document.cookie = `hexToken=${token}; expires=${new Date(expired)};`;//cookie寫入的方式
						//document.cookie = "自訂的cookie名稱=值; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";

					}
				});
				//Proxy {username: "kennytest@gmail.com", password: "9764315"}

			}
		}
    }
</script>

<style lang="scss" scoped>
body {
	color: #4e4e4e;
	background: #e2e2e2;
}
.login-sec{
    background-color: rgb(221, 221, 221);
}
.form-control {
	font-size: 16px;
	background: #f2f2f2;
	box-shadow: none !important;
	border-color: transparent;
}
.form-control:focus {
	border-color: #d3d3d3;
}
.form-control, .btn {        
	border-radius: 2px;
}
.login-form {
	width: 380px;
	margin: 0 auto;
	font-size: 15px;
}
.login-form h2 {		
	margin: 0;
	padding: 30px 0;
	font-size: 34px;
}
.login-form .avatar {
	margin: 0 auto 30px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background-size: cover;
    background-size: center center;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
	width: 100%;
}
.login-form form {
	color: #7a7a7a;
	border-radius: 4px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;		
}	
.login-form .btn, .login-form .btn:active {
	font-weight: bold;
	background: #06b4b4 !important;
	border: none;
	margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #06b4b4 !important;
}
.login-form a {
	color: #06b4b4;
}	
.login-form form a {
	color: #06b4b4;
}
.login-form a:hover, .login-form form a:hover {
	text-decoration: underline;
}
.hint-text {
	color: #999;
	text-align: center;
}
.form-footer {
	padding-bottom: 15px;
	text-align: center;
}
</style>